.gf-header{
    display: flex;
    justify-content: flex-end;
}
.gf-header a{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.header-btn{
    padding: 10px;
    margin: 10px;
    background:  rgba(143, 36, 170, 0.596)
}